<div class="culmn">
    <!--Home page style-->


    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav">
        <!-- Start Top Search -->

        <!-- End Top Search -->

        <div class="container">
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="side-menu"><a href="#"><i class="fa fa-sort-desc"></i></a></li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#brand">

                    <img src="assets/images/logo.png" class="logo logo-display m-top-10" alt="">
                    <img src="assets/images/logo.jpg" class="logo logo-scrolled" alt="">

                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="#hello">Inicio</a></li>
                    <li><a href="#about">Nosotros</a></li>
                    <li><a href="#service">Disciplinas</a></li>
                    <li><a href="#portfolio">Proyectos</a></li>
                    <li><a href="#pricing">Certificaciones</a></li>
                    <li><a href="#blog">D-Aurora</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    <li><a href="/news">Noticias</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>


        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <div class="widget">
                <h6 class="title">Links Adicionales</h6>
                <ul class="link">
                    <li><a href="https://deyforeirl1.sharepoint.com/" target="_blank">Intranet</a></li>
                </ul>
            </div>
        </div>
        <!-- End Side Menu -->

    </nav>


    <!--Home Sections-->

    <section id="hello" class="home bg-mega">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home">
                    <div class="home_text">
                        <h1 class="text-white">DEYFOR</h1>
                    </div>


                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off Home Sections-->


    <!--About Sections-->
    <section id="about" class="about roomy-100">
        <div class="container">
            <div class="row">
                <div class="main_about">
                    <div class="col-md-6">
                        <div class="about_content">
                            <h2>SOBRE NOSOTROS</h2>
                            <div class="separator_left"></div>

                            <p>Somos una empresa líder en la prestación de servicios en
                                obras civiles, proyectos, e infraestructuras metálicas.
                                Contamos con alta experiencia en el desarrollo de proyectos
                                para el rubro minero, constructor e industrial. Valoramos
                                a cada uno de nuestros colaboradores ya que son el recurso
                                humano más preciado por que hacen de la familia DEYFOR una
                                de las empresas altamente reconocidas en términos de
                                producción en Cajamarca.</p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_accordion wow fadeIn">
                            <div id="faq_main_content" class="faq_main_content">
                                <h6><i class="fa fa-angle-right"></i> MISIÓN </h6>
                                <div>
                                    <div class="content">
                                        <p>Prestar soluciones orientadas al
                                            servicio y excelencia empresarial en
                                            la ejecución de proyectos civiles y
                                            electromecánicos, manteniendo el
                                            compromiso por la excelencia
                                            en productividad, calidad, seguridad,
                                            responsabilidad social y ambiental. </p>

                                    </div>
                                </div> <!-- End off accordion item-1 -->

                                <h6><i class="fa fa-angle-right"></i> VISIÓN</h6>
                                <div>
                                    <div class="content">
                                        <p>Consolidarnos a nivel nacional, como
                                            una empresa representativa por su
                                            organización y confiabilidad en la
                                            resolución de necesidades, para la
                                            ejecución de proyectos civiles,
                                            electromecánicos en el sector público y
                                            privado obteniendo satisfacción plena
                                            de las partes interesadas, con
                                            principios éticos y de mejora continua. </p>
                                    </div>
                                </div> <!-- End off accordion item-2 -->

                                <h6> <i class="fa fa-angle-right"></i> OBEJTIVOS </h6>
                                <div>
                                    <div class="content">
                                        <li>Garantizar la satisfacción de
                                            nuestros clientes.</li>
                                        <li>Incrementar la rentabilidad
                                            y solidez financiera.</li>
                                        <li>Impulsar el crecimiento
                                            sostenible.</li>

                                    </div>
                                </div> <!-- End off accordion item-3 -->

                                <h6> <i class="fa fa-angle-right"></i> VALORES </h6>
                                <div>
                                    <div class="content">
                                        <li>Integración y Colaboración</li>
                                        <li>Liderazgo</li>
                                        <li>Excelencia</li>
                                        <li>Compromiso</li>
                                        <li>Justicia y Equidad</li>

                                    </div>
                                </div> <!-- End off accordion item-3 -->

                                <h6><i class="fa fa-angle-right"></i> POLÍTICAS </h6>
                                <div>
                                    <div class="content">
                                        <li><a target="_blank" href="assets/politicas/POLITICA_SSOMA.PDF"> POLÍTICA DE
                                                SEGURIDAD, SALUD OCUPACIONAL Y MEDIO AMBIENTE</a></li>
                                        <li><a target="_blank" href="assets/politicas/VALORES_ORGANIZACIONALES.pdf">
                                                VALORES ORGANIZACIONALES</a></li>
                                        <li><a target="_blank"
                                                href="assets/politicas/POLITICA_RESPONSABILIDAD SOCIAL.pdf"> POLÍTICA DE
                                                RESPONSABILIDAD SOCIAL</a></li>
                                        <li><a target="_blank" href=""> POLÍTICA DISCIPLINARIA</a></li>
                                        <li><a target="_blank" href=""> POLÍTICA DE ÉTICA EMPRESARIAL</a></li>
                                        <li><a target="_blank" href=""> POLÍTICA DE FATIGA Y SOMNOLENCIA</a></li>
                                        <li><a target="_blank" href=""> POLÍTICA DE NEGATIVA AL TRABAJO INSEGURO</a>
                                        </li>
                                        <li><a target="_blank" href=""> POLÍTICA DE ALCOHOL Y DROGAS</a></li>
                                        <li><a target="_blank" href=""> POLÍTICA DE DIFUSIÓN</a></li>
                                    </div>
                                </div> <!-- End off accordion item-4 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
        <br />
        <br />
        <hr />
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="about_bottom_content">
                    <div class="col-md-4">
                        <div class="about_bottom_item m-top-20">
                            <div class="ab_head">
                                <div class="ab_head_icon">
                                    <i class="icofont icofont-safety"></i>
                                </div>
                                <h6 class="m-top-20"> TRABAJO SEGURO Y SALUDABLE</h6>
                            </div>
                            <p class="m-top-20">Somos una empresa que tiene como principales
                                caracteristicas la seguridad, la salud y el desarrollo de nuestro equipo
                                y ambientes de trabajo.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about_bottom_item m-top-20">
                            <div class="ab_head">
                                <div class="ab_head_icon">
                                    <i class="icofont icofont-users-social"></i>
                                </div>
                                <h6 class="m-top-20"> COMUNIDAD Y COMPROMISO SOCIAL</h6>
                            </div>
                            <p class="m-top-20">Somos una empresa que se preocupa por mantener la
                                acción social, contribuyendo responsablemente en donde operamos. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about_bottom_item m-top-20">
                            <div class="ab_head">
                                <div class="ab_head_icon">
                                    <i class="icofont icofont-recycle"></i>
                                </div>
                                <h6 class="m-top-20">OPERACIÓN SOSTENIBLE</h6>
                            </div>
                            <p class="m-top-20">Al ser una empresa que tiene diversos proyectos, nos
                                preocupamos por tener siempre una gestión sostenible que proteja al
                                medio ambiente.
                            </p>

                        </div>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off About section -->


    <!--Video section-->
    <section id="video" class="video">
        <div class="overlay"></div>
        <div class="container">
            <div class="main_video roomy-100 m-top-100 m-bottom-100 text-center">
                <div class="video_text text-center">
                    <a href="https://www.youtube.com/watch?v=rTfMOA40FDI" class="video-link"><span
                            class="fa fa-play"></span></a>
                </div>
            </div>
        </div>
    </section><!--End off video section -->


    <div class="container">
        <div class="row">
            <div class="main_featured m-top-100">
                <div class="col-sm-12">
                    <div class="head_title_news text-center">
                        <h2>PANEL FOTOGRÁFICO</h2>
                        <div class="separator_auto"></div>
                        <!--<p>La bella ciudad de Cajamarca cuenta con diversos lugares turísticos 
                            en donde turistas y los mismos ciudadanos disfrutan cada vez que 
                            las visitan.  </p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="featured_slider">
        <div>
            <div class="featured_img">
                <img src="assets/images/fprojects/1.jpeg" alt="" />
                <a href="assets/images/fprojects/1.jpeg" class="popup-img"></a>
            </div>
        </div>
        <div>
            <div class="featured_img">
                <img src="assets/images/fprojects/2.jpg" alt="" />
                <a href="assets/images/fprojects/2.jpg" class="popup-img"></a>
            </div>
        </div>
        <div>
            <div class="featured_img">
                <img src="assets/images/fprojects/3.jpg" alt="" />
                <a href="assets/images/fprojects/3.jpg" class="popup-img"></a>
            </div>
        </div>
        <div>
            <div class="featured_img">
                <img src="assets/images/fprojects/4.jpeg" alt="" />
                <a href="assets/images/fprojects/4.jpeg" class="popup-img"></a>
            </div>
        </div>
        <div>
            <div class="featured_img">
                <img src="assets/images/fprojects/5.jpg" alt="" />
                <a href="assets/images/fprojects/5.jpg" class="popup-img"></a>
            </div>
        </div>
    </div><!-- End off featured slider -->

    <br>
    <br>
    <br> <br>
    <br>
    <br>

    <!--Service Section-->
    <section id="service" class="service">
        <div class="container">
            <div class="row">
                <div class="main_service roomy-100">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="head_title text-center">
                            <h2>NUESTRAS DISCIPLINAS</h2>
                            <div class="separator_auto"></div>
                            <p>La empresa Deyfor con diecinueve años en el mercado
                                es una de las empresas líderes en ofrecer servicios
                                de calidad en su rubro, ejecutando destacados
                                proyectos en las siguientes líneas:</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="service_item">
                            <i class="icofont icofont-safety-hat-light"></i>
                            <h6 class="m-top-30">EJECUCIÓN DE PROYECTOS CIVILES</h6>
                            <div class="separator_small"></div>
                            <p>Contamos con personal altamente calificado,
                                lo que nos permite ofrecera servicios de calidad. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service_item">
                            <i class="icofont icofont-energy-oil"></i>
                            <h6 class="m-top-30">EJECUCIÓN DE PROYECTOS ELECTROMECÁNICOS</h6>
                            <div class="separator_small"></div>
                            <p>Elaboración de trabajos de alta calidad,
                                acorde a estándares mundiales. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service_item">
                            <i class="icofont icofont-tools-alt-2"></i>
                            <h6 class="m-top-30">MANTENIMIENTO DE INFRAESTRUCTURAS</h6>
                            <div class="separator_small"></div>
                            <p>Diecinueve años de experiencia brindando
                                servicios de alta fiabilidad. </p>
                        </div>
                    </div>
                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section> <!--End off Featured section-->


    <!--Impress section-->
    <section id="impress" class="impress roomy-100">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_impress text-center">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="text-white text-uppercase">CONOCE NUESTROS MACROPROCESOS</h2>
                        <p class="m-top-40 text-white">Nuestra empresa cuenta con ocho macro procesos que permiten una
                            mejor organización
                            del trabajo y las cuales son muy importantes ya que cumplen diferentes funciones que
                            contribuyen
                            al desarrollo de la empresa.
                        </p>
                        <div class="impress_btns text-center m-top-30">
                            <a href="assets/doc/Macro Procesos.pdf" class="btn btn-primary m-top-20">VER MÁS</a>
                        </div>
                    </div>
                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section><!-- End off Impress section-->






    <!--Portfolio Section-->
    <section id="portfolio" class="portfolio lightbg">
        <div class="container">
            <div class="row">
                <div class="main_portfolio roomy-100">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="head_title text-center">
                            <h2>NUESTROS PROYECTOS</h2>
                            <div class="separator_auto"></div>
                            <p>Somos una empresa especializada en servicios
                                integrales de Construcción, Montaje, Mantenimiento
                                Electromecánico, Movimiento de tierras y Suministro
                                de Equipos para distintos sectores productivos, como Minería,
                                Oíl & Gas, Energía entre otros. </p>
                        </div>
                    </div>

                    <div class="portfolio_content">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portfolio_item">
                                        <img src="assets/images/Portfolio/2.jpg" alt="" />
                                        <div class="portfolio_hover text-center">
                                            <h6 class="text-uppercase text-white"><strong>Mantenimiento de Sistemas de
                                                    Bombeo</strong></h6>
                                            <p class=" text-white">- Bombas <br>
                                                - Motores <br>
                                                - Electrobombas <br>
                                                - Sistemas hidráulicos <br>
                                            </p>
                                            <div class="portfolio_hover_icon">
                                                <a href="assets/images/Portfolio/2.jpg" class="popup-img"><i
                                                        class="fa fa-expand"></i></a>
                                                <!--<a href=""><i class="fa fa-search"></i></a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 m-top-30">
                                    <div class="portfolio_item portfolio_item2">
                                        <img src="assets/images/Portfolio/3.jpg" alt="" />
                                        <div class="portfolio_hover text-center">
                                            <h6 class="text-uppercase text-white"><strong>Mantenimiento de
                                                    Talleres</strong></h6>
                                            <p class=" text-white">Mantenimiento preventivo y correctivo de
                                                instalaciones
                                                e Infraestructura del área de operaciones mina.
                                            </p>
                                            <div class="portfolio_hover_icon">
                                                <a href="assets/images/Portfolio/3.jpg" class="popup-img"><i
                                                        class="fa fa-expand"></i></a>
                                                <!--<a href=""><i class="fa fa-search"></i></a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 m-top-30">
                                    <div class="portfolio_item portfolio_item2">
                                        <img src="assets/images/Portfolio/5.jpg" alt="" />
                                        <div class="portfolio_hover text-center">
                                            <h6 class="text-uppercase text-white"><strong>Mejoramiento de
                                                    Infraestructuras en MYSRL</strong></h6>
                                            <p class=" text-white">Confección e instalación de señaléticas de seguridad,
                                                servicio de traslado de contenedores y material con equipo de izaje.
                                            </p>
                                            <div class="portfolio_hover_icon">
                                                <a href="assets/images/Portfolio/5.jpg" class="popup-img"><i
                                                        class="fa fa-expand"></i></a>
                                                <!--<a href=""><i class="fa fa-search"></i></a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="portfolio_item portfolio_item2">
                                <img src="assets/images/Portfolio/1.jpg" alt="" />
                                <div class="portfolio_hover text-center">
                                    <h6 class="text-uppercase text-white"><strong>DESMONTAJE Y MONTAJE DE ALMACÉN
                                            CAL</strong> </h6>
                                    <p class=" text-white">Instalación de postes, vigas, correas, tijerales y
                                        desmontaje de cerco perimétrico,
                                    </p>
                                    <div class="portfolio_hover_icon">
                                        <a href="assets/images/Portfolio/1.jpg" class="popup-img"><i
                                                class="fa fa-expand"></i></a>
                                        <!--<a href=""><i class="fa fa-search"></i></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 m-top-30">
                            <div class="portfolio_item portfolio_item2">
                                <img src="assets/images/Portfolio/6.jpg" alt="" />
                                <div class="portfolio_hover text-center">
                                    <h6 class="text-uppercase text-white"><strong>AMPLIACIÓN DE CENTRO DE CONTROL
                                            DOCUMENTARIO</strong></h6>
                                    <p class=" text-white">Diseño de Ingeniería Civil, Concreto, Estructuras,
                                        Arquitectura y Electricidad e
                                        instalación de pedestales y losas de concreto armado.
                                    </p>
                                    <div class="portfolio_hover_icon">
                                        <a href="assets/images/Portfolio/6.jpg" class="popup-img"><i
                                                class="fa fa-expand"></i></a>
                                        <!--<a href=""><i class="fa fa-search"></i></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 m-top-30">
                            <div class="portfolio_item">
                                <img src="assets/images/Portfolio/4.jpg" alt="" />
                                <div class="portfolio_hover text-center">
                                    <h6 class="text-uppercase text-white"><strong> MANTENIMIENTO DE INFRAESTRUCTURA EN
                                            PLANTA DE PROCESOS ÓXIDOS Y SULFUROS</strong></h6>
                                    <p class=" text-white">Retorqueo de pernos en arriostres usando manlift y andamios,
                                        retorqueo de pernos en vigas horizontales usando manlift y limpieza de pernos en
                                        arriostres.
                                    </p>
                                    <div class="portfolio_hover_icon">
                                        <a href="assets/images/Portfolio/4.jpg" class="popup-img"><i
                                                class="fa fa-expand"></i></a>
                                        <!--<a href=""><i class="fa fa-"></i></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section><!-- End off Portfolio section-->


    <!--Skill Sections-->
    <section id="skill" class="skill roomy-100">
        <div class="container">
            <div class="row">
                <div class="main_skill">
                    <div class="col-md-6">
                        <div class="skill_content wow fadeIn">
                            <h2>VALOR AGREGADO</h2>
                            <div class="separator_left"></div>

                            <p>Nuestra oferta de valor ofrece una combinación única de
                                Responsabilidad, Eficacia y sobre todo lograr la total
                                satisfacción de nuestro servicio, además nos
                                caracterizamos por ejecutar trabajos
                                de manera integral, lo que permite alcanzar elevados niveles
                                de eficiencia, seguridad y calidad. La compañía entrega servicios
                                que incluyen la ingeniería, construcción y montaje, gestión de compras
                                nacionales e internacionales, transporte local y logística.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skill_bar sm-m-top-50">
                            <div class="teamskillbar clearfix m-top-20" data-percent="97%">
                                <h6>RESPONSABILIDAD</h6>
                                <div class="teamskillbar-bar"></div>
                            </div> <!-- End Skill Bar -->

                            <div class="teamskillbar clearfix m-top-50" data-percent="95%">
                                <h6>EFICACIA</h6>
                                <div class="teamskillbar-bar"></div>
                            </div> <!-- End Skill Bar -->

                            <div class="teamskillbar clearfix m-top-50" data-percent="99%">
                                <h6>SATISFACCIÓN</h6>
                                <div class="teamskillbar-bar"></div>
                            </div> <!-- End Skill Bar -->
                        </div>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
        <br />
        <br />
        <br />
        <hr />
        <br />
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="skill_bottom_content text-center">
                    <div class="col-md-3">
                        <div class="skill_bottom_item">
                            <h2 class="statistic-counter">535</h2>
                            <div class="separator_small"></div>
                            <h5><em>Proyectos Finalizados</em></h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="skill_bottom_item">
                            <h2 class="statistic-counter">120</h2>
                            <div class="separator_small"></div>
                            <h5><em>Clientes Felices</em></h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="skill_bottom_item">
                            <h2 class="statistic-counter">2.500000</h2>
                            <div class="separator_small"></div>
                            <h5><em>Horas Hombre sin Accidentes</em></h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="skill_bottom_item">
                            <h2 class="statistic-counter">409</h2>
                            <div class="separator_small"></div>
                            <h5><em>Colaboradores</em></h5>
                        </div>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off Skill section -->



    <!--Testimonial Section-->
    <section id="testimonial" class="testimonial fix">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_testimonial roomy-100">
                    <div class="head_title text-center">
                        <h2 class="text-white">NUESTRA HISTORIA</h2>
                    </div>
                    <div class="testimonial_slid text-center">
                        <div class="testimonial_item">
                            <div class="col-sm-10 col-sm-offset-1">
                                <p class="text-white">DEYFOR E.I.R.L ingresa al mercado laboral a partir de marzo del
                                    2004,
                                    en el rubro de servicios generales para lo cual, en medida de sus posibilidades
                                    adquiere la infraestructura,
                                    equipos y maquinaria necesarios que les permitió desarrollar sus pequeñas obras e ir
                                    por la búsqueda de nuevas oportunidades en la provincia de Cajamarca. <br>
                                    En el 2007 se realizó una renovación de equipos, maquinaria y medio de transporte
                                    modernos
                                    que coadyuvaron a que la organización se consolide y ofrezca servicios de mayor
                                    calidad y acordes
                                    a los estándares actuales del mercado. <br>
                                    A partir del 2012, se arraiga la filosofía de valores y pilares estratégicos como el
                                    desarrollo del
                                    recurso humano, promover culturas de trabajo y fortalecer la convicción de la visión
                                    y misión
                                    de nuestra organización para liderar en seguridad, responsabilidad y calidad.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial_item">
                            <div class="col-sm-10 col-sm-offset-1">
                                <p class="text-white">Ya concluyendo el año 2016 DEYFOR participa de una serie de
                                    concursos para servicios
                                    de mantenimiento por varios años de trabajo. Y es así que en el próximo primer
                                    semestre los logros de
                                    esta organización son los resultados del esfuerzo combinado y compromiso de cada
                                    colaborador,
                                    obteniendo adjudicaciones de los servicios en mención. <br>
                                    En la actualidad pensamos que el éxito obtenido, se debe al liderazgo en el
                                    cumplimiento de los plazos
                                    y costos contractuales e implementación de nuevas tecnologías, renovación de flota
                                    vehicular y el
                                    liderazgo en el cumplimiento de los más altos estándares de seguridad y salud
                                    ocupacional, así como
                                    la calidad en cada uno de los procesos aplicados en proyectos de alta complejidad.
                                </p>
                            </div>
                        </div>
                        <div class="testimonial_item">
                            <div class="col-sm-10 col-sm-offset-1">
                                <p class="text-white">Los fundadores; quienes inspirados y convencidos que gran parte de
                                    lo mejor que hay en nosotros
                                    está ligado a nuestro amor por la familia, tienen presente la prueba de unión y de
                                    fortaleza en sus hijos,
                                    pues al combinar sus iniciales: Diana, Edison, Yaneth; con las primeras letras de
                                    una de las pasiones de los
                                    fundadores “forestación” surge un nombre sinónimo de valores, compromiso y trabajo:
                                    DEYFOR. </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off Testimonial section -->


    <!--Pricing Section-->
    <section id="pricing" class="pricing lightbg">
        <div class="container">
            <div class="row">
                <div class="main_pricing roomy-100">
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="head_title text-center">
                            <h2>NUESTRAS CERTIFICACIONES</h2>
                            <div class="separator_auto"></div>
                            <p>Contamos con tres certificaciones ISO que nos permiten
                                lograr una mejora estructural y organizativa en la empresa, optimizando nuestros
                                procesos y reduciendo costes operativos, lo que
                                se traduce en una mejor experiencia para nuestros clientes. </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="pricing_item">
                            <div class="pricing_top_border"></div>
                            <div class="pricing_head p-top-30 p-bottom-100 text-center">
                                <h3 class="text-uppercase">CALIDAD</h3>
                            </div>
                            <div class="pricing_price_border text-center">
                                <div class="pricing_price">
                                    <h3 class="text-white">ISO</h3>
                                    <h4 class="text-white">9001</h4>
                                </div>
                            </div>

                            <div class="pricing_body bg-white p-top-110 p-bottom-60">
                                <ul>
                                    <p><i class="fa fa-check-circle text-primary"></i> Incrementar el nivel de
                                        satisfacción del cliente.</p>
                                    <p><i class="fa fa-check-circle text-primary"></i> Promover la mejora continua del
                                        Sistema de Gestión en cada uno de sus procesos.</p>


                                </ul>
                                <div class="pricing_btn text-center m-top-40">
                                    <a href="" class="btn btn-primary">VER MÁS</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off col-md-4 -->

                    <div class="col-md-4 col-sm-12">
                        <div class="pricing_item sm-m-top-30">
                            <div class="pricing_top_border"></div>
                            <div class="pricing_head p-top-30 p-bottom-100 text-center">
                                <h3 class="text-uppercase">MEDIO AMBIENTE</h3>
                            </div>
                            <div class="pricing_price_border text-center">
                                <div class="pricing_price">
                                    <h3 class="text-white">ISO</h3>
                                    <h4 class="text-white">14001</h4>
                                </div>
                            </div>

                            <div class="pricing_body bg-white p-top-110 p-bottom-60">
                                <ul>
                                    <p><i class="fa fa-check-circle text-primary"></i> Reducir los impactos ambientales
                                        negativos significativos.</p>
                                    <p><i class="fa fa-check-circle text-primary"></i> Tener controles específicos para
                                        los aspectos ambientales negativos.</p>

                                </ul>
                                <div class="pricing_btn text-center m-top-40">
                                    <a href="" class="btn btn-primary">VER MÁS</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off col-md-4 -->

                    <div class="col-md-4 col-sm-12">
                        <div class="pricing_item sm-m-top-30">
                            <div class="pricing_top_border"></div>
                            <div class="pricing_head p-top-30 p-bottom-100 text-center">
                                <h3 class="text-uppercase">SEGURIDAD</h3>
                            </div>
                            <div class="pricing_price_border text-center">
                                <div class="pricing_price">
                                    <h3 class="text-white">ISO</h3>
                                    <h4 class="text-white">45001</h4>
                                </div>
                            </div>

                            <div class="pricing_body bg-white p-top-110 p-bottom-60">
                                <ul>
                                    <p><i class="fa fa-check-circle text-primary"></i> Prevenir el deterioro de la
                                        salud y enfermedades laborales.</p>
                                    <p><i class="fa fa-check-circle text-primary"></i> Fomentar estilos de vida
                                        saludables y minimizar la incidencia
                                        de riesgos laborales.</p>

                                </ul>
                                <div class="pricing_btn text-center m-top-20">
                                    <a href="" class="btn btn-primary">VER MÁS</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End off col-md-4 -->

                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off Pricing section -->



    <!--client brand section-->
    <section id="cbrand" class="cbrand">
        <div class="container">
            <div class="row">
                <div class="main_cbrand text-center roomy-100">

                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="cbrand_item m-bottom-10">
                            <a><img src="assets/images/clients/1.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="cbrand_item m-bottom-10">
                            <a><img src="assets/images/clients/2.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="cbrand_item m-bottom-10">
                            <a><img class="" src="assets/images/clients/3.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="cbrand_item m-bottom-10">
                            <a><img src="assets/images/clients/4.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="cbrand_item m-bottom-10">
                            <a><img src="assets/images/clients/5.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="cbrand_item m-bottom-10">
                            <a><img src="assets/images/clients/6.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div><!-- End off row -->
        </div><!-- End off container -->
    </section><!-- End off Cbrand section -->
    
    <!--Blog Section-->
    <section id="blog" class="blog">
        <div class="container">
            <div class="main_blog roomy-100">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="head_title text-center">
                            <h2>D-AURORA</h2>
                            <div class="separator_auto"></div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="service_item">
                            <i class="icofont icofont-question-circle"></i>
                            <h6 class="m-top-30">¿QUÉ ES D-AURORA?</h6>
                            <div class="separator_small"></div>
                            <p>Es un proyecto que permitir a las
                                personas dentro de la organización
                                compartan sus aprendizajes
                                de mejora e integrándonos.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service_item">
                            <i class="icofont icofont-badge"></i>
                            <h6 class="m-top-30">MISIÓN</h6>
                            <div class="separator_small"></div>
                            <p>Mejorar y desarrollar continuamente
                                las habilidades para ser más eficaces
                                en lo que hacemos, brindando nuevas
                                ideas y tecnologías a través
                                D -AURORA “plataforma”.
                                Permitiéndonos compartir
                                habilidades y
                                conocimientos con otros.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="service_item">
                            <i class="icofont icofont-heart"></i>
                            <h6 class="m-top-30">¿POR QUÉ D-AURORA?</h6>
                            <div class="separator_small"></div>
                            <p>D-Aurora toma el nombre en honor a la
                                Sra. Aurora, simbolizando los principios,
                                virtudes y valores que motivan a las
                                personas a actuar, que el aprendizaje
                                debe tener lugar durante toda la vida
                                y que aprender nunca agota la mente.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="service_item m-top-20">
                            <i class="icofont icofont-bullseye"></i>
                            <h6 class="m-top-30">OBJETIVO</h6>
                            <div class="separator_small"></div>
                            <p>Identificar personas que tengan habilidades
                                y conocimientos con capacidad de asesorar,
                                capacitar y que tengan el impulso para
                                continuar aprendiendo por su cuenta.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="service_item m-top-20">
                            <i class="icofont icofont-tick-boxed"></i>
                            <h6 class="m-top-30">BENEFICIOS</h6>
                            <div class="separator_small"></div>
                            <li>Acortar el tiempo idea -
                                implementación.</li>
                            <li>Aumentar habilidades mediante
                                el intercambio de conocimientos.</li>
                            <li>Motivar al personal.</li>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="service_item m-top-20">
                            <i class="icofont icofont-tack-pin"></i>
                            <h6 class="m-top-30">PROYECTOS</h6>
                            <div class="separator_small"></div>
                            <li>FCC</li>
                            <li>IRIS</li>
                            <li>GLOSARIS</li>
                            <li>PASTILLAS DE CONOCIMIENTO </li>
                            <li>EXPERTIS</li>
                            <li>KAIZIS</li>
                            <li>TEAM QUIMO</li>
                        </div>
                    </div>
                </div><!--End off row -->
            </div><!--End off row -->
        </div><!--End off container -->
    </section><!-- End off Blog section-->



    <!--Maps Section-->
    <div class="main_maps text-center fix">
        <div class="overlay"></div>
        <div class="maps_text">
            <h3 class="text-white" onclick="showmap()">UBÍCANOS <i class="fa fa-angle-down"></i></h3>
            <div id="map_canvas" class="mapheight"></div>
        </div>
    </div><!-- End off Maps Section-->



    <!--Contact Us Section-->
    <section id="contact" class="contact bg-mega fix">
        <div class="container">
            <div class="row">
                <div class="main_contact roomy-100 text-white">
                    <div class="col-md-4">
                        <div class="rage_widget">
                            <div class="widget_head">
                                <h3 class="text-white">DEYFOR</h3>
                                <div class="separator_small"></div>
                            </div>
                            <p><strong> Oficinas:</strong> Jr. Antonio Astopilco N° 537 </p>
                            <p><strong> Teléfono:</strong> 076-366136 </p>

                            <div class="widget_socail m-top-30">
                                <ul class="list-inline">
                                    <li><a target="_blank" href="https://www.facebook.com/deyfor.eirl"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/company/deyfor/"><i
                                                class="fa fa-linkedin"></i></a></li>
                                    <!--<li><a href=""><i class="fa fa-instagram"></i></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 sm-m-top-30">
                        <form class="" action="subcribe.php">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="first_name" name="first_name" type="text" placeholder="Name"
                                            class="form-control" required="">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="phone" name="phone" type="text" placeholder="Phone"
                                            class="form-control">
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="6" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group text-center">
                                        <a href="" class="btn btn-primary">SEND MESSAGE</a>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section><!--End off Contact Section-->


    <!-- scroll up-->
    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div><!-- End off scroll up -->


    <footer id="footer" class="footer bg-black">
        <div class="container">
            <div class="row">
                <div class="main_footer text-center p-top-40 p-bottom-30">
                    <p class="text-white" class="wow fadeInRight" data-wow-duration="1s">
                        <i class="fa fa-heart"></i>
                        by
                        Tecnologías de la Información - 2023
                    </p>
                </div>
            </div>
        </div>
    </footer>




</div>